extends layout

block content
  .container
    h1 Admin Dashboard
    p Welcome to your admin dashboard.
    ul
      li
        a(href="/messages") View Messages
      li
        a(href="/blog") Blog Management
      li
        a(href="/login") Login