extends layout

block content
  h2 Admin Upload CV
  form(action="/upload_cv" method="POST" enctype="multipart/form-data")
    input(type="file" name="cv" accept=".pdf" required)
    button(type="submit") Upload